<h1 class="title">Please fill in the following info about your parcel</h1>

<form action="/cost_to_ship">
  <div class="form-group">
    <label for="length" class="label-text">Enter length of Parcel (in):</label>
    <input type="text" id="length" name="length" class="form-control">

    <label for="width" class="label-text">Enter width of Parcel (in):</label>
    <input type="text" id="width" name="width" class="form-control">

    <label for="height" class="label-text">Enter Height of Parcel (in):</label>
    <input type="text" id="height" name="height" class="form-control">

    <label for="weight" class="label-text">Enter Weight of Parcel (lb):</label>
    <input type="text" id="weight" name="weight" class="form-control">

    <label for="distance" class="label-text">
      Enter the distance your parcel will travel (mi):
    </label>
    <input type="text" id="distance" name="distance" class="form-control">

    <label for="speed" class="label-text">Shipping Speed:</label>
    <select id="speed" name="speed" type="number">
      <option value=1>Standard</option>
      <option value=2>Express</option>
      <option value=3>Overnight</option>
    </select>
  </div>
  <button class="btn btn-danger" type="submit">Calculate!</button>
</form>
